aiobotocore==0.5.2
aiohttp==3.0.1
aiohttp-security==0.2.0
aiohttp-session==2.3.0
aiopg==0.13.2
aioredis==1.1.0
alabaster==0.7.10
appdirs==1.4.3
async-generator==1.9
async-timeout==2.0.0
attrs==17.4.0
Babel==2.5.3
boto3==1.6.11
botocore==1.9.11
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
docutils==0.14
fs==2.0.18
hiredis==0.2.0
idna==2.6
idna-ssl==1.0.0
imagesize==0.7.1
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
modconf==0.4b6
multidict==4.1.0
numpy==1.14.0
oauthlib==2.0.6
packaging==16.8
pluggy==0.6.0
psycopg2==2.7.4
py==1.5.2
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.4.0
pytest-asyncio==0.8.0
pytest-cov==2.5.1
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
s3transfer==0.1.13
selenium==3.4.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.0
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.2.3
toml==0.9.4
urllib3==1.22
virtualenv==15.1.0
wrapt==1.10.11
yarl==1.1.0
