async-patterns==0.3b14
py==1.5.2
pytest-cov==2.5.1
babel==2.5.3
urllib3==1.22
alabaster==0.7.10
imagesize==1.0.0
docutils==0.14
pygments==2.7.4
chardet==3.0.4
sphinx==1.7.1
markupsafe==1.0
sphinxcontrib-websupport==1.0.1
jinja2==2.10
pytest==3.4.2
requests==2.18.4
certifi==2018.1.18
coverage==4.5.1
snowballstemmer==1.2.1
idna==2.6
pytz==2018.3
six==1.11.0
codecov==2.0.15
