[Unit]
Description=web_sheets sheets_backend server

[Service]
User={{ user }}
ExecStart=/usr/local/bin/{{ script_name }} {{ conf }}

[Install]
WantedBy=multi-user.target

