{% load static %}

<head>
<script type="text/javascript" src="{% static 'handsontable.full.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>

<body>

<a href="{% url "social:begin" "google-oauth2" %}?next={% url "index" %}">Google login</a>	
<a href="{% url "logout" %}">logout</a>	

<img src="{{ user.profile_image_url }}">

<form action="{% url 'sheet_new' %}" method="post">
{% csrf_token %}
<input type="textbox" name="sheet_name">
<input type="submit" value="new sheet">
</form>

<table>
{% for sheet_id, sheet_name in sheets %}
<tr><td><a href="{% url "sheet" sheet_id %}">{{ sheet_name }}</a></td></tr>
{% endfor %}
</table>

</body>

