{% load static %}

<head>
<script type="text/javascript" src="{% static 'handsontable.full.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>

<body>

<a href="{% url "social:begin" "google-oauth2" %}?next={% url "index" %}">Google login</a>	
<a href="{% url "logout" %}">logout</a>	

<img src="{{ user.profile_image_url }}">

<table>
{% for sheet_id in sheet_ids %}
<tr><td><a href="{% url "sheet" sheet_id %}">{{ sheet_id }}</a></td></tr>
{% endfor %}
</table>

</body>

