{% extends "base.html" %}
{% load static %}

{% block head %}

<script src="{% static 'web_sheets/sheet.js' %}"></script>

{% endblock %}

{% block body %}

<div class="toolbar">
	<div><h2>{{ sheet.sheet_name }}</h2></div>
	<div><button onclick="add_column()">add column</button></div>
</div>

<div id="tablediv"></div>

<div>
<textarea id="script" rows="10" cols="50">{% autoescape off %}{{ script }}{% endautoescape %}</textarea>
</div>

<button onclick="set_exec()">execute</button>

<div>
<textarea id="script_output" rows="10" cols="50">{% autoescape off %}{{ script_output }}{% endautoescape %}</textarea>
</div>

<!-- script gets token from this element -->
{% csrf_token %}

<script>

var data = {% autoescape off %}{{ cells }}{% endautoescape %};

var sheet_id = '{{ sheet.sheet_id }}';

var url_add_column = '{% url 'sheets:add_column' sheet.id %}';
var url_set_cell = '{% url 'sheets:set_cell' sheet.id %}';
var url_set_exec = '{% url 'sheets:set_exec' sheet.id %}';

$(document).ready(sheet_page_load);

</script>

{% endblock %}

