{% extends "base.html" %}
{% load static %}

{% block head %}

<script src="{% static 'web_sheets/sheet.js' %}"></script>

{% endblock %}

{% block body %}

{% include 'warning/security.html' %}

<div class="toolbar">
	<div><h2>{{ book.book_name }}</h2></div>
	<div><button onclick="add_column()">add column</button></div>
	<div><button onclick="add_row()">add row</button></div>
</div>

<div id="tablediv"></div>

<div>
<textarea id="script" rows="10" cols="50">
	{% autoescape off %}{{ script_pre }}{% endautoescape %}
</textarea>
</div>

<button onclick="set_script_pre()">execute</button>

<div>
<textarea id="script_output" rows="10" cols="50">
	{% autoescape off %}{{ script_pre_output }}{% endautoescape %}
</textarea>
</div>

<div>
<textarea id="script_post" rows="10" cols="50">
	{% autoescape off %}{{ script_pre }}{% endautoescape %}
</textarea>
</div>

<button onclick="set_script_post()">execute</button>

<div>
<textarea id="script_post_output" rows="10" cols="50">
	{% autoescape off %}{{ script_pre_output }}{% endautoescape %}
</textarea>
</div>

<!-- script gets token from this element -->
{% csrf_token %}

<script>

//var data = {% autoescape off %}{{ cells }}{% endautoescape %};
var data = [[]];

var book_key = '{{ book.book_id }}';
var sheet_key = '{{ sheet_key }}';

var url_add_column = "{% url 'sheets:add_column' book.id %}";
var url_add_row = "{% url 'sheets:add_row' book.id %}";
var url_set_cell = "{% url 'sheets:set_cell' book.id %}";
var url_set_script_pre = "{% url 'sheets:set_script_pre' book.id %}";
var url_get_sheet_data = "{% url 'sheets:get_sheet_data' book.id %}";

$(document).ready(sheet_page_load);

</script>

{% endblock %}

