<head>
<script src="/static/sheet.js"></script>
<script src="/static/handsontable/handsontable.full.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="toolbar">
	<div><h2>book name here</h2></div>
	<div><button onclick="add_column()">add column</button></div>
	<div><button onclick="add_row()">add row</button></div>
</div>

<div id="tablediv"></div>

<div>
	<textarea id="script_pre" rows="10" cols="50">{{ script_pre }}</textarea>
</div>

<button id="script_pre" onclick="set_script_pre()">execute</button>

<div>
	<textarea id="script_pre_output" rows="10" cols="50">{{ script_pre_output }}</textarea>
</div>

<div>
	<textarea id="script_post" rows="10" cols="50"
		>{{ script_post }}</textarea>
</div>

<button id="script_post" onclick="set_script_post()">execute</button>

<div>
	<textarea id="script_post_output" rows="10" cols="50">{{ script_post_output }}</textarea>
</div>

<div id="book_docs">
	{% autoescape off %}{{ docs_html }}{% endautoescape %}
</div>

<script>

var data = [[]];

var book_key = '{{ book_id }}';
var sheet_key = '{{ sheet_id }}';

var ws_url = '{{ ws_url }}';


var url_add_column = '{{ url_add_column }}';
var url_add_row = '{{ url_add_row }}';
var url_set_cell = '{{ url_set_cell }}';
var url_set_script_pre = '{{ url_set_script_pre }}';
var url_set_script_post = '{{ url_set_script_post }}';
var url_get_sheet_data = '{{ url_get_sheet_data }}';


$(document).ready(sheet_page_load);

</script>
</body>

