{% load static %}

<head>
<link rel="stylesheet" media="screen" href="{% static 'web_sheets/default.css' %}">
<link rel="stylesheet" media="screen" href="{% static 'handsontable.full.css' %}">
<script src="{% static 'web_sheets/default.js' %}"></script>
<script src="{% static 'handsontable.full.js' %}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block head %}{% endblock %}
</head>

<body>
	{% include "top_bar.html" %}

	<div class="body">
	{% block body %}{% endblock %}
	</div>
</body>

