
<div class="top">
<div class="left">
	<h1>Web Sheets</h1>
</div>
<div class="right">
	{% if user %}
	<a 
	class="select_account" 
	href="{% url "social:begin" "google-oauth2" %}?next={{ url_select_account_rediret }}">
	select account
	</a>
	<a href="{% url "logout" %}?next={{ url_logout_rediret }}">
	logout
	</a>
	<img src="{{ user.profile_image_url }}">
	{% else %}
	<a 
	class="login" 
	href="{% url "social:begin" "google-oauth2" %}?next={{ url_login_rediret }}">
	</a>
	{% endif %}
</div>
</div>

