<html>
<head>
	<script src=\"https://code.jquery.com/jquery-1.10.2.js\"></script>
	<link rel="stylesheet" type="text/css" href="/style/python_spreadsheet.css">
</head>
<body>

{{ html }}

<h2>Help</h2>

Edit a cell then hit ENTER to update its contents.<br>
An "=" at the beginning of the cell contents indicates a formula.<br>

<h3>Formulas</h3>

<dl>
	<dt>cell(r,c)</dt>
	<dd>
		Return a value or list of values of the cell or cells.
		<em>r</em> and <em>c</em> are the row and column indices.
		They can be either integers or python lists of integers.
	</dd>
	<dt>row()</dt>
	<dd>return the row index of the current cell</dd>
	<dt>col()</dt>
	<dd>return the column index of the current cell</dd>
</dl>

The following
<a href="https://docs.python.org/2/library/functions.html">builtin python functions</a>
are available.

<ul>
	<li>abs</li>
	<li>all</li>
	<li>any</li>
	<li>range</li>
	<li>sum</li>
</ul>

{% if debug %}
<h2>debug</h2>
<div class="debug">
{{ debug_lines }}
</div>
{% endif %}

</body>

<script>


</script>
</html>


<!--
	$("input").focusout(function(){
		var name = "#form" + $(this).attr("id");
		$(name).submit();
		alert(name);
	});
	$("input").blue(function(){
		var name = "#form" + $(this).attr("id");
		$(name).submit();
	});
-->

